{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- {% include 'messages.html' %} -->

<main class="contact-us">
    <div class="banner">
        <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
        <h1 class="text-center">
            Dashboard
        </h1>
    </div>

    <section class="container mt-5">
        <h2 class="text-center">Welcome to Dashboard</h2>
        <h4 class="text-center text-white-50">
            Hi, {{user.first_name}}. Hope you are having a good day
        </h4>
        {% if not tubers_hired %}
        <h5 class="text-center text-white-50">
            No youtubers hired
        </h5>
        {% else %}
        <h5 class="text-center text-white-50">
            Here are the list of youtubers you have hired
        </h5>
        {% endif %}


        {% if tubers_hired %}
        <div class="table-responsive mt-4">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">YTubers_name</th>
                        <th scope="col">City</th>
                        <th scope="col">Visit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tb in tubers_hired %}
                    <tr>
                        <th scope="row">{{tb.id}}</th>
                        <td>{{tb.name}}</td>
                        <td>{{tb.city}}</td>
                        <td>
                            <a href="{% url 'youtubers_detail' tb.id %}" class="btn btn-accent">Go to Tuber's Page </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

    </section>
</main>

{% endblock %}